{sub_dirs,
	[ "apps/wrfx_http",
	  "rel"
	]}.

{deps, [
       {cowboy, "", {git, "git://github.com/extend/cowboy.git", {branch, "master"}}},
       {mimetypes, "", {git, "git://github.com/spawngrid/mimetypes.git", {branch, "master"}}}
]}.

{lib_dirs,
	[ "apps", "deps" ]}.

{erl_opts, [debug_info, fail_on_warning]}.

{require_otp_vsn, "R1[5|6]"}.
