{sub_dirs, [
	    "rel"	
	   ]}.	

{deps, [
       {cowboy, "", {git, "git://github.com/extend/cowboy.git", {branch, "master"}}},
       {mimetypes, "", {git, "git://github.com/spawngrid/mimetypes.git", {branch, "master"}}},
       {riakc, "", {git, "git://github.com/basho/riak-erlang-client.git", {branch, "master"}}, [raw]}
]}.

{lib_dirs,
	[ "deps" ]}.

{erl_opts, [debug_info, fail_on_warning]}.

{require_otp_vsn, "R1[5|6]"}.
